<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>CheckLogin</servlet-name>
        <servlet-class>com.software.team.BigStore.DBServlets.UserServlets.CheckLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveUser</servlet-name>
        <servlet-class>com.software.team.BigStore.DBServlets.UserServlets.saveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.software.team.BigStore.DBServlets.UserServlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveProduct</servlet-name>
        <servlet-class>com.software.team.BigStore.DBServlets.ProductServlets.SaveProduct</servlet-class>
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>testImagefromBlob</servlet-name>
        <servlet-class>com.software.team.BigStore.DBServlets.ImageServlets.testImagefromBlob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>com.software.team.BigStore.DBServlets.ProductServlets.UpdateProduct</servlet-class>
        
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>saveUser</servlet-name>
        <url-pattern>/saveUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveProduct</servlet-name>
        <url-pattern>/SaveProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testImagefromBlob</servlet-name>
        <url-pattern>/testImagefromBlob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLogin</servlet-name>
        <url-pattern>/CheckLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>pages/dynamic/home/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
